* {
  box-sizing: border-box;
}

.inbox-header {
  background-color: #ADD7F6;
}

#new-competition-button {
  background-color: #2F32B0;
  border-color: #2F32B0;
}

.inbox-card {
  margin-bottom: 5%;
}

.page-title {
  text-align: center;
  margin-bottom: 1%;
}